---
layout: default
---

<div class="container">
  <header style="margin-bottom: 4rem;">
    <h1 style="margin-bottom: 0">Hi! I'm Adam.</h1>
    <p class="subheading"> I'm currently a software engineer at Google. Welcome to whatever this is. I also have made <a href="https://youtube.com/ixraider">some music</a>.</p>
  </header>
  <div class="posts">
    {% for post in site.posts %}
     {% if post.external_url %}
      <a class="postPreview postPreview__link" 
        href="{{ post.external_url }}"
        target="_blank">
      {% else %}
      <a class="postPreview postPreview__link" 
        href="{{ post.url | prepend: site.baseurl }}">
      {% endif %}
      <div class="postPreview__heading">{{ post.title }}</div>
      <div class="postPreview__dots"></div>
      <div class="postPreview__meta">{{ post.date | date: "%b %-d, %Y" }}</div>
    </a>
    {% endfor %}
  </div>
</div>
