<div class="nav">
  <div class="nav__container">
    <a class="nav__logo" href="{{ url | prepend:site.baseurl }}/">raider.tech</a>
    <ul class="nav__menu">
      <li class="nav__menu__item"><a href="{{ url | prepend:site.baseurl }}/">home</a></li>
      <li class="nav__menu__item"><a href="https://raider.tech" target="_blank">portfolio</a></li>
      <!-- <li class="nav__menu__item"><a href="{{ url | prepend:site.baseurl }}/about">about</a></li> -->
      <li class="nav__menu__item"><a href="mailto:adam@raider.tech">contact</a></li>
    </ul>
  </div>
</div>