<div class="nav">
  <div class="nav__container">
    <a class="nav__logo" href="{{ url | prepend:site.baseurl }}/">
      <img width="55px" src="/assets/logo1.svg">
      <span class="nav__logo__text">
        <div class="nav__logo__text__name">Raider</div>
        <div class="nav__logo__text__subtext">I write about tech and stuff</div>
      </span>
    </a>
    <ul class="nav__menu">
      <li class="nav__menu__item"><a href="{{ url | prepend:site.baseurl }}/">Home</a></li>
      <li class="nav__menu__item"><a href="https://raider.tech" target="_blank">Portfolio</a></li>
      <!-- <li class="nav__menu__item"><a href="{{ url | prepend:site.baseurl }}/about">about</a></li> -->
      <li class="nav__menu__item"><a href="mailto:adam@raider.tech">Contact</a></li>
    </ul>
  </div>
</div>